*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu{
    display:flex;
    size-adjust: 1;
    min-width: 25%;
    margin-left: 10%;
}
#logo{
   position: absolute;
   top: 1em;
   z-index: 1;
   width: auto;
   min-width: 1;
}
#imagen-logo{
    width: 100px;
    height: 100px;

}
#navegacion{
    height: 1;
    width: auto;

    margin-left: 0%;
    margin-top: 0%;

    background-color: chocolate;
    display: flex ;
    size-adjust: 100%;

}

#navegacion, #logo,#menu{
    font-display: center;
    flex-direction: row;
    align-items: center;
    align-content: center;

}
a{
text-decoration: none;

    display: flexbox;
    font-size: 20px;
    margin-top: 12%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 12%;
}
#buscar{
    margin-left: 30%;
    display: inline;
}
#loginprincipal{
    margin-left: 50px;
    
}